@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --css-interop-darkMode: "class dark";
}

@layer utilities {
  .progress-ring-track {
    stroke: rgba(255, 255, 255, 0.1);
  }

  .progress-ring-indicator {
    stroke: #c3f400;
    stroke-linecap: square;
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
